@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Inter/Inter-Regular.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/Inter/Inter-Italic.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Inter/Inter-Bold.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Inter/Inter-BoldItalic.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: normal;
    src: url(/fonts/Inter/Inter-Light.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 300;
    font-style: italic;
    src: url(/fonts/Inter/Inter-LightItalic.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Tinos';
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/Tinos/Tinos-Regular.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Tinos';
    font-weight: 400;
    font-style: italic;
    src: url(/fonts/Tinos/Tinos-Italic.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Tinos';
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/Tinos/Tinos-Bold.woff) format('woff');
    font-display: swap;
  }
  @font-face {
    font-family: 'Tinos';
    font-weight: 700;
    font-style: italic;
    src: url(/fonts/Tinos/Tinos-BoldItalic.woff) format('woff');
    font-display: swap;
  }
  body {
    @apply scroll-smooth bg-white font-sans text-lg text-gray-700 antialiased sm:text-xl;
  }
  mark {
    @apply rounded-sm bg-indigo-100 px-1;
  }
  input {
    @apply h-12 w-full rounded-md border border-gray-400 px-3 placeholder-gray-600 transition-all duration-200 focus:border-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-800 disabled:bg-gray-100;
  }
  textarea {
    @apply min-h-[12rem] w-full rounded-md border border-gray-400 p-3 align-top placeholder-gray-600 transition-all duration-200 focus:border-gray-800 focus:outline-none focus:ring-1 focus:ring-gray-800 disabled:bg-gray-100;
  }
}

@layer utilities {
  .p-dynamic {
    padding: calc((100vw + 5rem) / 21);
  }
  .px-dynamic {
    padding-right: calc((100vw + 5rem) / 21);
    padding-left: calc((100vw + 5rem) / 21);
  }
  .pl-dynamic {
    padding-left: calc((100vw + 5rem) / 21);
  }
  .pr-dynamic {
    padding-right: calc((100vw + 5rem) / 21);
  }
  .py-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .pt-dynamic {
    padding-top: calc((100vw + 5rem) / 21);
  }
  .pb-dynamic {
    padding-bottom: calc((100vw + 5rem) / 21);
  }
  .m-dynamic {
    margin: calc((100vw + 5rem) / 21);
  }
  .mx-dynamic {
    margin-right: calc((100vw + 5rem) / 21);
    margin-left: calc((100vw + 5rem) / 21);
  }
  .ml-dynamic {
    margin-left: calc((100vw + 5rem) / 21);
  }
  .mr-dynamic {
    margin-right: calc((100vw + 5rem) / 21);
  }
  .my-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .mt-dynamic {
    margin-top: calc((100vw + 5rem) / 21);
  }
  .mb-dynamic {
    margin-bottom: calc((100vw + 5rem) / 21);
  }
  .shadow-b {
    box-shadow: 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
  .animate-gradient {
    background: linear-gradient(-45deg, #f4f0e8, #bfdbfe, #e7dfce, #a5b4fc);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .animate-little-bounce {
    animation: little-bounce 0.8s infinite;
  }
  @keyframes little-bounce {
    0%,
    100% {
      transform: translateY(-10%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(5%);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}

.show-validation input:invalid,
.show-validation textarea:invalid {
  @apply border-red-500 transition-all duration-200 focus:ring-red-500;
}
